.doc-container {
  flex: 1;
  padding: 24px;
  overflow: hidden;
}

.doc-title {
  font-size: 24px;
  font-weight: 700;
}

.doc-top-container {
  width: 100%;
  display: flex;
  gap: 48px;
}

.doc-detail-container {
  display: flex;
  margin-top: 24px;
  align-items: center;
  gap: 12px;
}

.doc-detail-text {
  font-size: 20;
}

.doc-detail-text > span {
  font-weight: 700;
}

.doc-btn-container {
  display: flex;
  padding: 8px 12px;
  background-color: var(--purple);
  border-radius: 4px;
  color: white;
  margin-top: 24px;
}

.doc-btn-text {
  font-size: 16px;
  font-weight: 600;
}

.doc-pdf-container {
  pointer-events: none;
  cursor: not-allowed;
}

.doc-pdf-wrapper {
  display: flex;
  position: relative;
}

.doc-description-container {
  margin-top: 36px;
}

.doc-description-title {
  font-size: 20px;
  font-weight: 700;
}

.doc-description-text {
  font: 18px;
  margin-top: 8px;
}

.doc-blur {
  filter: blur(8px);
}

.doc-locked-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.listItemReviews {
  display: flex;
}

.reviewContainer {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.review-icon {
  cursor: pointer;
  transition: all ease 300ms;
  
}

@media screen and (max-width: 960px) {
  .doc-top-container {
    flex-direction: column;
  }
}
