.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3vw;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

.sub-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  max-width: 45vw;
  text-align: center;
}

.homepage-picture {
  width: 50vw;
  height: 50vw;
}
