:root {
  --orange: #e69b69;
  --purple: #59417d;
}

* {
  text-decoration: none;
}

.navbar {
  height: 80px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: 0 24px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo > p {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.logo-wrapper {
  background-color: white;
  border-radius: 999px;
  padding: 6px 6px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
}

.nav-menu {
  display: flex;
  grid-gap: 24px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-links {
  color: black;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
}

.nav-links:hover {
  background-color: var(--purple);
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.nav-links-mobile {
  display: none;
}

.account-box {
  display: flex;
}

.sign-up-wrapper {
  background-color: var(--purple);
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}

@media screen and (max-width: 960px) {
  .account-box {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100vw;
    opacity: 1;
    transform: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--orange);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--purple);
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: var(--purple);
    transition: 250ms;
  }
}
