:root {
  --orange: #e69b69;
  --purple: #59417d;
}

* {
  text-decoration: none;
}

.navbar {
  height: 12vh;
  min-height: 80px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: 0 24px;
  z-index: 100;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo > p {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.logo-wrapper {
  background-color: white;
  border-radius: 999px;
  padding: 6px 6px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
}

.nav-menu {
  display: flex;
  grid-gap: 24px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-links {
  color: black;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
}

.nav-links:hover {
  background-color: var(--purple);
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.nav-links-mobile {
  display: none;
}

.account-box {
  display: flex;
}

.sign-up-wrapper {
  background-color: var(--purple);
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.profile-card {
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 256px;
  border-radius: 4px;
  right: 0;
  z-index: 1;
  transition: all ease 300ms;
}

.profile-container:hover .profile-card {
  opacity: 1;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 4px 8px;
}

.card-top > div {
  display: flex;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: column;
}

.card-bottom > a,
.card-bottom > div {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 500;
  height: 48px;
  align-items: center;
  display: flex;
  padding: 4px 8px;
}

.card-bottom > a:hover,
.card-bottom > div:hover {
  background-color: #e69b694d;
}

.card-button {
  gap: 12px;
}

.point {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .profile-card {
    width: 100%;
  }
  
  .account-box {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    border-top: 1px solid black;
    margin-top: 24px;
    gap: 24px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    position: absolute;
    justify-content: flex-start;
    padding-top: 24px;
    top: 80px;
    left: -100vw;
    opacity: 1;
    transform: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--orange);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--purple);
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
