.navbar {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
}

.logo > img {
  width: 36px;
  height: 36px;
}

.logo-container > p {
  color: black;
  margin-left: 1rem;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
}

.routes {
  display: flex;
  align-items: center;
}

.routes > p {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: black;
  cursor: pointer;
  margin-right: 18px;
}

.login-button {
  width: 8vw;
  height: 5vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}

.login-button > p {
  font-size: 1.75vw;
  color: white;
  font-family: "Raleway", sans-serif;
}

.text-input {
  width: 12vw;
  height: 5vh;
  border-radius: 8px;
  border-width: 0px;
  padding-left: 4px;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
}
